h1{
    text-align: center;
    color: aquamarine;
    background-color: darkred;
    padding: 10px;
    font-size: 40px;
}

html{
    height: 100%;
}

body{
    background-color: blueviolet;
    color: whitesmoke;
}

ol{
    font-size: 25px;
}

.container{
    height: 200px;
}

.center{
    text-align: center;
    font-size: 30px;
}

table{
    border: 3px solid red;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

th,td{
    border: 1px solid springgreen;
    padding: 5px;
    margin: 5px;

}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}